.nav-list {
  width: 100%;
  height: 100%;
  background-color: #222831;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.nav-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
}

.logout-item {
  margin-top: auto;
}

.nav-icon {
  color: #fff;
}
