services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    ports:
      - "1433:1433"
    environment:
      MSSQL_SA_PASSWORD: "Test123@"
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Express"
    volumes:
      - sqldata:/var/opt/mssql
    restart: unless-stopped
  pharmarepbe:
    build:
      context: .
      dockerfile: PharmaRep.BE/Dockerfile
    ports:
      - "5000:8080"
    container_name: pharmarepbe
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_HTTP_PORT=8080
    depends_on:
      - sqlserver
      
volumes:
  sqldata: