.nav-bar-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-bar-list li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-list li:last-child {
  margin-top: auto;
}
