<div>
    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="/users" Match="NavLinkMatch.Prefix">
                <img src="svg/people-fill.svg" width="24" height="24" />
            </NavLink>
        </div>
    </nav>
</div>
