:host {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content-body {
  flex: 1;
  padding-top: 1rem;
}

.user-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.user-table th {
  border-bottom: solid 1px #fff;
}

.user-table tr {
  height: 1.5rem;
}

.user-list-item-row:hover {
  background-color: #444;
}

.user-list-edit-button {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
